# Project exclude paths
/.gradle
/common/build/
/common/build/classes/java/main/
/app/build/
/app/build/classes/java/main/
/app/build/classes/java/test/
/praktikum-*/build/
/praktikum-*/build/classes/java/main/
/praktikum-*/build/classes/java/test/
/.idea/
